In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plot
import seaborn as sns
from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import make_scorer, recall_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import classification_report

In [2]:
# Study data files

diabetes_binary_health_path = "Ressources/diabetes_binary_health_indicators_BRFSS2015.csv"


# Read the  data and the study results
df_diabetes = pd.read_csv(diabetes_binary_health_path)

# Severe_Housing_Cost_Burden_Percent = pd.read_csv(Severe_Housing_Cost_Burden_Percent_path)
# display(Food_Insecurity)
# Severe_Housing_Cost_Burden_Percent_path.head()
# No_Health_Insurance
df_diabetes

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0,1,1,1,45,0,0,0,0,1,...,1,0,3,0,5,0,1,5,6,7
253676,1,1,1,1,18,0,0,0,0,0,...,1,0,4,0,0,1,0,11,2,4
253677,0,0,0,1,28,0,0,0,1,1,...,1,0,1,0,0,0,0,2,5,2
253678,0,1,0,1,23,0,0,0,0,1,...,1,0,3,0,0,0,1,7,5,1
253679,1,1,1,1,25,0,0,1,1,1,...,1,0,2,0,0,0,0,9,6,2

In [3]:
# df_diabetes = pd.get_dummies(df_diabetes)
                                                        

# df_diabetes

In [4]:
df_diabetes.shape

(253680, 22)

In [5]:
df_diabetes.dtypes

Diabetes_binary         int64
HighBP                  int64
HighChol                int64
CholCheck               int64
BMI                     int64
Smoker                  int64
Stroke                  int64
HeartDiseaseorAttack    int64
PhysActivity            int64
Fruits                  int64
Veggies                 int64
HvyAlcoholConsump       int64
AnyHealthcare           int64
NoDocbcCost             int64
GenHlth                 int64
MentHlth                int64
PhysHlth                int64
DiffWalk                int64
Sex                     int64
Age                     int64
Education               int64
Income                  int64
dtype: object

In [6]:
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       253680 non-null  int64
 1   HighBP                253680 non-null  int64
 2   HighChol              253680 non-null  int64
 3   CholCheck             253680 non-null  int64
 4   BMI                   253680 non-null  int64
 5   Smoker                253680 non-null  int64
 6   Stroke                253680 non-null  int64
 7   HeartDiseaseorAttack  253680 non-null  int64
 8   PhysActivity          253680 non-null  int64
 9   Fruits                253680 non-null  int64
 10  Veggies               253680 non-null  int64
 11  HvyAlcoholConsump     253680 non-null  int64
 12  AnyHealthcare         253680 non-null  int64
 13  NoDocbcCost           253680 non-null  int64
 14  GenHlth               253680 non-null  int64
 15  MentHlth              253680 non-null  int64
 16  PhysHlth              253680 non-null  int64
 17  DiffWalk              253680 non-null  int64
 18  Sex                   253680 non-null  int64
 19  Age                   253680 non-null  int64
 20  Education             253680 non-null  int64
 21  Income                253680 non-null  int64
dtypes: int64(22)
memory usage: 42.6 MB

In [7]:
df_diabetes.columns

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [8]:
df_diabetes.describe()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.139333,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.346294,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [9]:
df_diabetes.isna(). sum()

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [10]:
df_diabetes[['Diabetes_binary']].value_counts()

Diabetes_binary
0                  218334
1                   35346
dtype: int64

In [11]:
# df_diabetes.duplicated()/df_diabetes.loc[df_diabetes.duplicated()]

In [12]:
# df_diabetes

In [13]:
# feature understanding

In [14]:
# # Create a new column with the combination of BMI, Age, and Income
# top_10_combinations['BMI_Age_Income'] = top_10_combinations.apply(lambda row: f"{row['BMI']}-{row['Age']}-{row['Income']}", axis=1)

# # Create a bar chart of the top 10 most frequent combinations of values
# ax = top_10_combinations.plot(x='BMI_Age_Income', y='count', kind='bar', title='Top 10 Most Frequent Combinations of BMI, Age, and Income', color=colors)

# # Set the x-label and y-label of the chart
# ax.set_xlabel('Combination of BMI, Age, and Income')
# ax.set_ylabel('Count')

# plt.show()

In [ ]:
# Plot a histogram of 'Income' column in df_diabetes
df_diabetes[['Diabetes_binary']].plot(kind='bar')
plt.title('Distribution of Income')
plt.xlabel('Income')
# hue='Income',
plt.ylabel('Count')
plt.show()

In [ ]:
# Plot a histogram of 'Income' column in df_diabetes
df_diabetes[['AnyHealthcare', 'Age', 'Income']].plot(kind='hist')
plt.title('Distribution of Income')
plt.xlabel('Income')
# hue='Income',
plt.ylabel('Count')
plt.show()

In [ ]:
# # Create a scatter plot of 'AnyHealthcare' vs. 'Stroke'
# sns.scatterplot(x='AnyHealthcare', y='Income', hue='Income', data=df_diabetes)
# plt.title('Relationship between AnyHealthcare and Stroke with Income')
# plt.show()

In [ ]:
# feature relationship

In [ ]:
# define color


df_diabetes.plot(kind='scatter',
                  x='Income',
                  y='BMI', 
#                   c=['#1f77b4', '#ff7f0e'],
                  title='Correlation between BMI and Income'
                 )
plt.show()

In [ ]:
sns.scatterplot(
        x='BMI',
        y='Age',
#         hue='BMI',
        data=df_diabetes
)

plot.show

In [ ]:
sns.scatterplot(
        x='BMI',
        y='Age',
#         hue='BMI',
        data=df_diabetes
)

plot.show

In [ ]:

sns.pairplot(df_diabetes, vars=['Diabetes_binary', 'Age', 'Income', 'AnyHealthcare'], hue='Sex')
plt.show()

In [ ]:
df_diabetes_corr = df_diabetes[['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income']].dropna().corr()

df_diabetes_corr

In [ ]:
fig, ax = plt.subplots(figsize=(22, 12))
sns.heatmap(df_diabetes_corr, annot=True, ax=ax)
plt.show()